#bs-overrides body{
    height: 100%;
    margin: 0;
}
/*
#bs-overrides .container[name="main-row"][name="sidebar-left"] {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
}*/

#bs-overrides div[name="sidebar-right"]::-webkit-scrollbar {
    display: none;
}
/*
#bs-overrides .container[name="main-row"][name="sidebar-left"][name="sb-left"] {
    flex: 1 0 auto;
}*/