#bs-overrides body{
    height: 100%;
    margin: 0;
}
/*
#bs-overrides .container[name="main-row"][name="sidebar-left"] {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
}*/

#bs-overrides div[name="sidebar-right"]::-webkit-scrollbar {
    display: none;
}

/*Need to seperate between icon buttons and text buttons, but it works!!*/
.btn, .btn:active, .btn:focus, .btn:visited, btn:default, btn:enabled{
    color:#FFFFFF !important;
    opacity: 0.8 !important;
}

.btn:hover{
    background-color: darkcyan !important;
    border-color: transparent !important;
    color: white !important;
    opacity: 1 !important;
}

.card-header .link, 
.card-header .link:visited,
.card-header .link:active,
.card-header .link:default,
.card-header .link:enabled,
.card-header .link:focus{
    color:#FFFFFF !important; 
    opacity: 0.5 !important;
}

.card-header .link:hover{
    border-color: transparent;
    color: darkcyan !important;
    opacity: 1 !important;
}

/*
#bs-overrides .container[name="main-row"][name="sidebar-left"][name="sb-left"] {
    flex: 1 0 auto;
}*/