<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My Twitter Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/bs_overrides.css" />
    <script src="../static/tweets.js"></script>
    <script src="../static/tweetClass.js"></script>
    <script type='module' src="../static/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body class="bg-dark" id="bs-overrides">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-popper/2.2.4/index.umd.min.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/8.8.1/reactstrap.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-transition-group/dist/react-transition-group.min.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.0.5/redux.min.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/7.2.2/react-redux.min.js"></script>
    <script crossorigin src="https://unpkg.com/@reduxjs/toolkit/dist/redux-toolkit.umd.js"></script>

    <div id="root" data-tweets={{tweets|tojson}}></div>
</body>
</html>